NEXT_PUBLIC_CHAIN_ID=31611
NEXT_PUBLIC_RPC_URL=https://rpc.test.mezo.org
NEXT_PUBLIC_EXPLORER_URL=https://explorer.test.mezo.org
NEXT_PUBLIC_MUSD_ADDRESS=
NEXT_PUBLIC_MEZO_ADDRESS=
NEXT_PUBLIC_REGISTRY_ADDRESS=
NEXT_PUBLIC_VAULT_ADDRESS=
NEXT_PUBLIC_ROUTER_ADDRESS=
NEXT_PUBLIC_CREDIT_ADDRESS=
VERIFIER_PRIVATE_KEY=
